.customers {
  padding: 140px 0;
  @include mediaTablet {
    padding: 70px 0;
  }
  @include mediaMobile {
    padding: 35px 0 70px 0;
  }
}
.customers__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.customers__heading-subtitle {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: $accent;
}
.customers__title-wrapper {
  text-align: center;
  h2 {
    position: relative;
    &::after {
      content: "";
      @include titleIcon {
        left: -17px;
        top: -16px;
      }
      @include mediaMobile {
        transform: scale(0.7);
        top: -20px;
      }
      @media screen and (max-width: 388px) {
        left: 70px;
      }
      @media screen and (max-width: 350px) {
        left: 50px;
      }
      // @media screen and (max-width: 375px) {
      //   left: 0px;
      // }
    }
  }
}
