.select-menu {
  display: inline-block;
}
.select-menu .select-btn {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  opacity: 0.7;
}
.select-btn img {
  transition: 0.3s;
}
.select-menu .options {
  position: absolute;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 10px;
  display: none;
}
.options .option {
  padding: 5px 10px;
  margin: 10px 0;
  cursor: pointer;

  text-align: center;
  background-color: $white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  transition: box-shadow 0.2s ease-in;
  &:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  }
}
.select-menu.active .options {
  display: block;
}
.select-menu.active .select-btn img {
  transform: rotate(180deg);
}

// Media
.sBtn-text {
  @include mediaTablet {
    font-size: 14px;
  }
}
.option-text {
  @include mediaTablet {
    font-size: 14px;
  }
}
.select-menu__title {
  @include mediaTablet {
    font-size: 18px;
  }
  @include mediaFind {
    font-size: 16px;
  }
}
