// fonts
$font-main: "Poppins", sans-serif;
$font-secondary: "DM Sans", sans-serif;

// Colors
$black: #030a1b;
$white: #fff;
$accent: #fe753f;
$btn-color: #2e6eff;

// Media
$laptop: 1000px;
$tablet: 768px;
$find-media: 550px;
$mobile: 425px;
